// Nextflow configuration file

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

process {
    errorStrategy = 'retry'
    maxRetries = 1
}

profiles {
    local {
        process {
            cpus = 4
            memory = '8 GB'
        }
    }

    gcp {
        process {
            executor = 'google-batch'
            cpus = 8
            memory = '32 GB'
        }

        google {
            project = 'rnaseq-pipeline-490019'
            location = 'us-central1'
        }

        workDir = 'gs://rnaseq-pipeline-490019-data/work'
    }
}