// Nextflow configuration file

docker {
    enabled = true
    runOptions = '--platform linux/amd64'
}

process {
    errorStrategy = 'retry'
    maxRetries = 1
}

profiles {
    local {
        process {
            cpus = 4
            memory = '8 GB'
        }
    }

    gcp {
        process {
            executor = 'google-batch'
            cpus = 2
            memory = '16 GB'
            disk = '20 GB'

            withName: STAR {
                disk = '50 GB'
                memory = '32 GB'
            }

            withName: SRA_FETCH {
                disk= '50 GB'
            }

            withName: FASTP {
                disk= '50GB'
            }
        }

        google {
            project  = 'rnaseq-pipeline-490019'
            location = 'us-central1'
            batch.serviceAccount = '366470235979-compute@developer.gserviceaccount.com'
            batch.network = 'global/networks/default'
            batch.subnetwork = 'regions/us-central1/subnetworks/default'
        }

        params {
            star_index = 'gs://rnaseq-pipeline-490019-data/reference/star_index'
            gtf        = 'gs://rnaseq-pipeline-490019-data/reference/Homo_sapiens.GRCh38.113.gtf'
            outdir     = 'gs://rnaseq-pipeline-490019-data/results'
        }

        workDir = 'gs://rnaseq-pipeline-490019-data/work'
    }
}